


.header {
  display: flex;
}



.title {
  margin-right: auto;
  color: blue;
}

.header-right {
  margin-left: auto;
}

.nav-list {
  
}

.nav-item {
  color: blue;
  font-size: 20px;
  list-style: none;
  display: flex;
  justify-content: 100px;
}




ul {
  display: flex;

}

li {
  display: table-cell;
  min-width: 100px;
}


.firstview-title {
  font-size: 50px;
  text-align: left;
  position: absolute;
  line-height: 700px;
}

.parent {
  background-color: blue;
  height: 100px;
  width: 700px;
  margin-top: -130px;
}

.child {
  background-color: blue;
  height: 150px;
  width: 1200px;
  
}

main {
  text-align: right;
}