


.header {
  display: flex;
}



.title {
  margin-right: auto;
  color: blue;
}

.header-right {
  margin-left: auto;
}


.nav-item {
  color: blue;
  font-size: 20px;
  list-style: none;
  display: flex;
  justify-content: 100px;
}

nav a{
  text-decoration: none;
}


ul {
  display: flex;
}


li {
  display: table-cell;
  min-width: 100px;
}

main {
  text-align: right;
  position: relative;
}

.firstview-title {
  font-size: 50px;
  text-align: left;
  line-height: ;
  position: absolute;
  top: 350px;
}



.parent {
  background-color: blue;
  height: 250px;
  width: 80%;
  position: absolute;
  top: 450px;
}


img {
  width: 50%;
  position: relative;
  top: 100px;
}



